body{
    background-color: #080D14;
    margin: 8;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 170px;
    padding-right: 170px;

}